################################################################################################
#                                           Chain
################################################################################################

chain:
{
	executionMode:'sequential'
	outputPath:'/home/fabrice/Data_Iota/result/20180420/master'
	jobsPath:'None'
	pyAppPath:'/home/fabrice/iota2/scripts/common'
	chainName:'plateau'
	nomenclaturePath:'/home/fabrice/Data_Iota/nomenclature/nomenclature_diana_final1.csv'
	outputStatistics:'True'

	listTile:'T39LUD'
	featuresPath:'/home/fabrice/Data_Iota/feat'
	L5Path:'None'
	L8Path:'None'
	S2Path:'/home/fabrice/Data_Iota/Image/SENTINEL2'
	S1Path:'None'
	userFeatPath:'None'

	mode:'one_region' #one_region or multi_regions or outside
	regionPath:'/home/fabrice/Data_Iota/jeuxDeDonnees/andapa.shp'
	regionField:'reg'
	model:'/home/fabrice/Data_Iota/model/model_andapa.txt'

	groundTruth:'/home/fabrice/Data_Iota/jeuxDeDonnees/ludTmp.shp'
	dataField:'DN'
	runs:1
	ratio:0.9
	cloud_threshold:1
	spatialResolution:10

	logPath:'/home/fabrice/Data_Iota/log'
	colorTable:'/home/fabrice/Data_Iota/couleur/colorFile_final1.txt'
	mode_outside_RegionSplit:'' #square km

	OTB_HOME:'/home/matthias/iota2-10avr2018/OTB/build/OTB/build'
}

################################################################################################
#                                           training
################################################################################################

argTrain:
{
	shapeMode : 'points' #polygons or point
	samplesOptions:'-sampler random -strategy constant -strategy.constant.nb 2 '

	classifier :'rf'
	options :' -classifier.rf.min 10 -classifier.rf.max 35'
	rearrangeModelTile:False #True or False
	rearrangeModelTile_out:''

	cropMix:'False'
	prevFeatures:'/ptmp/vincenta/TestCropMix/2013'
	annualCrop:['11','12']
	ACropLabelReplacement:['10','annualCrop']
	samplesClassifMix:'True'
  	configClassif:'/path/to/theConfigurationFileWhichRuleAPreviousClassification'
 	validityThreshold : '5'
}

################################################################################################
#                                        classifications
################################################################################################

argClassification:
{
	classifMode :'separate' #fusion or separate
	fusionOptions :'-nodatalabel 0 -method majorityvoting'
	pixType : 'uint8'
	confusionModel : False #True or False
	noLabelManagement : 'maxConfidence' #maxConfidence or learningPriority
}

################################################################################################
#                                           sensors
################################################################################################
Landsat8:
{
	nodata_Mask : "False"
	nativeRes : 30
	arbo : "/*/*"
	imtype : "ORTHO_SURF_CORR_PENTE*.TIF"
	nuages : "NUA.TIF"
	saturation : "SAT.TIF"
	div : "DIV.TIF"
	nodata : ""
	arbomask : "*/*/MASK/"
	startDate:''
	endDate:''
	temporalResolution:'16'
	additionalFeatures:"b1+b2,(b1-b2)/(b1+b2)"#comma splited
	keepBands:[[1,"blue"],[2,"green"],[3,"red"],[7,"NIR"],[9,"SWIR"]]
}
Landsat5:
{
	nodata_Mask : "False"
	nativeRes : 30
	arbo : "/*/*"
	imtype : "ORTHO_SURF_CORR_PENTE*.TIF"
	nuages : "NUA.TIF"
	saturation : "SAT.TIF"
	div : "DIV.TIF"
	nodata : ""
	arbomask : "*/*/MASK/"
	startDate:''
	endDate:''
	temporalResolution:'16'
	additionalFeatures:"b1+b2,(b1-b2)/(b1+b2)"#comma splited
	keepBands:[[1,"blue"],[2,"green"],[3,"red"],[7,"NIR"],[9,"SWIR"]]
}
Sentinel_2:
{
        nodata_Mask : "False"
  	nativeRes : 10
        arbo : "/*/"
        imtype : "*STACK.tif"
        nuages : "CLM_R1.tif"
        saturation : "SAT_R1.tif"
        div : "EDG_R1.tif"
	nodata : ""
	nuages_reproj : "CLM_R1_reproj.tif"#must ended with _reproj.tif
   	saturation_reproj : "SAT_R1_reproj.tif"
        div_reproj : "EDG_R1_reproj.tif"
        arbomask : "/*/MASKS/"
        startDate:''
	endDate:''
        temporalResolution:'10'
	additionalFeatures:"b1+b2,(b1-b2)/(b1+b2)"#comma splited
	keepBands:[[1,"blue"],[2,"green"],[3,"red"],[7,"NIR"],[9,"SWIR"]]
}
userFeat:
{
        arbo:""
        patterns:""
}
GlobChain:
{
        proj : "EPSG:32739"
	features: ["NDVI","NDWI","Brightness"]
	nbLook:1
	batchProcessing :'True'
	autoDate:'True'
	bindingPython:'False'
	writeOutputs:'False'
	useAdditionalFeatures:'False'
        useGapFilling:'False'
}

iota2FeatureExtraction:
{
        copyinput:'True'
        relrefl:'False'
        keepduplicates:'False'
        extractBands:'False'
}
################################################################################################
